<div class="container text-center pb-5">
  <img src="/assets/fondo.png"  style="background-image: url('/assets/fondo.png'); width:100%; height:100vh; min-height:0vh; min-width:0vh;position: absolute; right: 0; top: 0; z-index: -100; opacity: 10;"> 
<div >
    <div class="box">
    <div class="vector">
      <img  style="background-image: url('/assets/vector.png'); width:100%; height:100vh"></div>


<header>
      <div class="toolbar" role="banner">
        <img
          class="img-responsive"
          margin="50px"
          alt="logo"
          width="40"
          src="assets/logo.png"
        />
        <h1>ALARM UX</h1>
      </div>
</header>
    
      
   
 

  
  <router-outlet></router-outlet>
  
  
 
  
  

  
    
