header {
  margin-top: 0%;
  overflow: hidden; 
  
}

  .toolbar {
    background-color: #081B21;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 60;

  }

  h1 {
    margin: 6px 0;
    margin-left: 20px;
  }

  img {
    display: flex;
    margin: 0 auto;
    margin-top: 0%;
  }

  .container text-center pb-5 {
    margin: 6px 0;
    margin-left: 10px;
    margin-top: 0%;
  }

 
  
  .vector{
    
    background-image: url('/assets/vector.png');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
  }

  body {
    background-color: #f2f2f2;
    margin-top: 0%;
  }
  
  .container {
    background-image: url('/assets/fondo.png');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      
    
    
  }
  
  .login-box {
    background-image: url('/assets/vector.png');
    background-color: white;
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 220px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    top: 50%;
    left: 50%;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  form {
    text-align: center;
    flex-direction: column;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 10px;
    border-style: double;
    border-width: 1px;
    border-color: #081B21;
    margin-bottom: 10px;
    background-color: white;
  }

  form {
    position: relative;
  }

  .Button {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #247179 5%, #247179 100%);
    background: color #247179;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #247179;
  }
  .Button:hover {
    background:linear-gradient(to bottom, #247179 5%, #247179 100%);
    background-color:#247179;
  }
  .Button:active {
    position:relative;
    top:1px;
  }

  
  
  

  

