<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Inicio de sesión</title>
  </head>
  <body>
    <div class="container">
      <div class="login-box">
        <div class="vector"></div>
        <div>
          <img class="img-responsive" alt="logo" width="120" src="assets/logo.png">
          <h2>ALARM UX</h2>
          <form>
            <label for="celular">Digite su número celular:</label>
            <input type="text" id="celular" name="celular">
            <a href="#" class="Button">Enviar</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>